In [1]:
age=15
if age>=18:                               #indentation
    print('you are eligible to work')
else:
    print("you are not eligible to vote")

you are not eligible to vote

In [2]:
age=int(input("enter your age"))
if age>=18:                               #indentation
    print('you are eligible to work')
else:
    print("you are not eligible to vote")

enter your age 12

you are not eligible to vote

In [3]:
x=int(input("enter a number"))
if x>0:
    print("number is postive")
elif x==0:
    print("number is zero")
else:
    print("number is negative")

enter a number -1

number is negative

In [4]:
x=int(input("enter a number"))
if x>0:
    print("number is postive")
else:
    print("number is negative")

enter a number 2

number is postive

grade calculator

=90 grade A 75to 89 b 60-74 c below 60 d

In [5]:
x= float(input('enter a mark of the student'))
if x>=90:
         print("grade A")
elif 75<=x<=89:
         print("grade B")
elif 60<=x<=74:
         print("grade C")
else:
     print("grade D")

enter a mark of the student 60

grade C

#nested if
#if condition1:
   if condition2:

In [6]:
age=20
id= True   #boolean of input
if age>=18:
    if id:
        print("you can vote")
    else:
        print("need id to vote")
else:
    print ("you are too young")

you can vote

In [8]:
age=int(input("age"))
id= input("do you have id  (yes/no)")   #boolean of input
if age>=18:
    if id.lower()=='yes':
        print("you can vote")
    else:
        print("need id to vote")
else:
    print ("you are too young")

age 19
do you have id  (yes/no) yes

you can vote

student scholarship 12th pass score should be above 90 both true eligible(nested if)

In [9]:
x=input("12th pass or fail: enter(pass/fail)")
mark=float(input("enter your mark"))
if x == 'pass':
    if mark>90:
           print("you are eligible for scholarship")
    else:
           print("you should score above 90 to get scholarship")
else:
     print("better luck next time")

12th pass or fail: enter(pass/fail) pass
enter your mark 95

you are eligible for scholarship

#control statement while and for
while condition:
    print("")

In [10]:
count=0
while count<=5:
    print(count)
    count+=1

0
1
2
3
4
5

In [11]:
count=6
while count<=5:
    print(count)
    count+=1
else:
    print("loop exit")

loop exit

In [12]:
x=1
while x<10:
    print(x)
    if x==5:
        break
    x+=1

1
2
3
4
5

In [13]:
x=1
while x<10:
    x+=1
    if x==5:
        continue
    print(x)

2
3
4
6
7
8
9
10

#print only even numbers 1-20 using while loop
#print numbers from 1-100 stop at 50 using break 
##print numbers from 1-100 stop at 50 using continue

#for loop
for variable in sequence:
    print("")

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
#list
fruit=['apple','banana','orange','lime','watermelon']
fruit

['apple', 'banana', 'orange', 'lime', 'watermelon']

In [17]:
type(fruit)

list

In [18]:
for i in fruit:
    print(i)

apple
banana
orange
lime
watermelon

In [19]:
for index,i in enumerate(fruit):
    print  (index,i)

0 apple
1 banana
2 orange
3 lime
4 watermelon

In [20]:
index_names = ["one", "two", "three", "four", "five"]
fruits = ["apple", "banana", "cherry", "mango", "orange"]

for idx, fruit in enumerate(fruits):
 print(f"{index_names[idx]}: {fruit}")

one: apple
two: banana
three: cherry
four: mango
five: orange

#questions
#create a list with +ve and -ve values and print only +ve value from the list
#create a list. count the vowels in a given string.

In [21]:
num=(1,2,3,4,5,6,7,8,9,10)
type(num)

tuple

In [22]:
square= [x**2 for x in num]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
cube= [x**3 for x in num]
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]