In [ ]:
#FUNCTION
#block of code that performs a specific pass and it can be reused multiple times
#

In [1]:
def function_name(parameters):
    #code block
    return result

In [ ]:
#def==> keyword to define a function
#function_name==> user given func.name
#paramters==>i/p values  (optional)
#code block
#return ==> value user want to send back(optional)

In [2]:
def greet():
    print("Hello Everyone")

In [3]:
greet()

Hello Everyone

In [9]:
def Hello(name):  #with parameter
    print(f"hello {name}! welcome to class")

In [10]:
Hello("Devi")

hello Devi! welcome to class

In [11]:
Hello("Aadhira")

hello Aadhira! welcome to class

In [12]:
def add(a,b):
    return a+b

In [13]:
add(3,4)

7

In [14]:
add(100,78)

178

In [15]:
def multiply(a,b):
    return a*b

In [16]:
multiply(2,3)

6

In [17]:
multiply(39,56)

2184

In [18]:
#odd or even
def oe(a):
    if a%2==0:
        print("it is even")
    else:
        print("it is odd")

In [19]:
oe(4)

it is even

In [20]:
oe(3)

it is odd

In [31]:

def num(number):    
    if number%2 == 0:
          print("even number")
    else:
          print("odd number")
    return num

In [33]:
num(4)

even number

In [35]:
def num():    
    number=int(input("enter a number"))
    if number%2 == 0:
          print("even number")
    else:
          print("odd number")

In [36]:
num()

enter a number 4

even number

In [37]:
num()

enter a number 3

odd number

In [58]:
#take a list of numbers that returns sum of all elements
def sum(a,b,c):
    return a+b+c

In [59]:
sum(1,2,3)

6

In [1]:
def sum_list(numbers):
 return sum(numbers)

In [2]:
my_list = [1, 2, 3, 4, 5]
print("Sum of the list:", sum_list(my_list))

Sum of the list: 15

In [3]:
x=10           #global scope/variable
def func():
    y=5        #local variable
    print(x+y)

In [4]:
func()

15

In [5]:
print(x)

10

In [6]:
print(y)   # it is defined inside the function(local scope)

NameError: name 'y' is not defined

In [ ]:
#lambda function(one line code)
#anonymous function(nameless)

In [7]:
square= lambda x: x**2

In [8]:
square(4)

16

In [9]:
cube= lambda a: a**3
cube(2)

8

In [28]:
# take a list of numbers and return a new list with only even numbers

def even(numbers):
    even_numbers=[]
    for i in numbers:
         if i%2 == 0:
             even_numbers.append(i)
    return even_numbers

In [29]:
even()

TypeError: even() missing 1 required positional argument: 'numbers'

In [30]:
l=[1,2,3,4,5]

In [31]:
result= even(l)

In [32]:
result

[2, 4]

In [33]:
even(l)

[2, 4]