1.Write a Python program to reverse the words in a given sentence.
Example:
 Input: "Python is fun"
 Output: "fun is Python"

In [20]:
def r():
    s="python is fun"
    rev=' '.join(s.split(' ')[::-1])
    print(rev)

In [21]:
r()

fun is python

In [22]:
def reverse_word(a):
    re=' '.join(a.split(' ')[::-1])
    print(re)

In [23]:
reverse_word('python is fun')

fun is python

2. Write a program to calculate the sum of digits in a given number.
Example:
 Input: 123
 Output: 6

In [24]:
def sod(a,b,c):
    return a+b+c

In [25]:
sod(1,2,3)

6

In [54]:
def digit(numbers):
    return sum(numbers)

In [55]:
l=[1,2,3]
digit(l)

6

3. Write a Python function to count the number of vowels in a string.
Example:
 Input: "hello world"
 Output: 3

In [52]:
def cnv(s):
    vowels='a', 'e', 'i' , 'o' , 'u'
    count=0
    for i in s:
        if i in vowels:
            count+=1
    print(count)

In [53]:
cnv("hello world")

3

In [71]:
cnv("hi everyone. how do you do")

10

4. Write a program to check whether a string is a palindrome.
Example:
 Input: "madam"
 Output: True

In [68]:
def palindrome(w):
    print(w[::-1]==w)

In [69]:
palindrome('mam')

True

In [70]:
palindrome('ass')

False

5. Write a function to find the largest number in a list without using max() function.
Example:
 Input: [5, 12, 7, 9]
 Output: 12

In [77]:
def largest(numbers):
    numbers.sort()
    return numbers[-1]

In [78]:
n=[1,12,7,9,88]
print(largest(n))

88

In [79]:
n=[5, 12, 7, 9]
largest(n)

12

6. Write a Python program to remove duplicate values from a list.
Example:
 Input: [1, 2, 2, 3, 1]
 Output: [1, 2, 3]

In [80]:
def remove_duplicate(numbers):
    n=set(numbers)
    return list(n)

In [82]:
i=[1, 2, 2, 3, 1]
remove_duplicate(i)

[1, 2, 3]

7. Write a program to find the factorial of a given number.
Example:
 Input: 5
 Output: 120

In [83]:
import math
def fact(a):
    return math.factorial(a)

In [84]:
fact(5)

120

8. Write a Python program to return all even numbers in a list.
Example:
 Input: [1, 4, 5, 6]
 Output: [4, 6]

In [92]:
def even(numbers):
    for i in numbers:
        if i%2==0:
            print(i)

In [93]:
e=[1, 4, 5, 6]
even(e)

4
6

9. Write a function to count how many times each character appears in a string.
Example:
 Input: "banana"
 Output: {'b': 1, 'a': 3, 'n': 2}

In [96]:
def count_characters(a):
    count={}
    for i in a:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    print(count)

In [97]:
count_characters('apple')

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

10.Write a Python program to count the number of words in a sentence.
Example:
 Input: "Python is easy to learn"
 Output: 5

In [99]:
def count_words(a):
    b= a.split()
    return len(b)

In [100]:
count_words("Python is easy to learn")

5

In [102]:
count_words("good morning. hope you are doing good")

7

11.Write a program to check if two strings are anagrams.
Example:
 Input: "listen", "silent"
 Output: True

In [13]:
def anagrams(str1,str2):
    s1=sorted(str1)
    s2=sorted(str2)
    return s1==s2
print(anagrams('hello','hi'))

False

In [14]:
anagrams('silent','listen')

True

12.Write a Python function to convert Celsius temperature to Fahrenheit.
Example:
 Input: 0
 Output: 32.0

In [18]:
def cel_to_fah(C):
    F = (C * 9/5) + 32
    return F
cel_to_fah(0)

32.0

13.Write a program to count how many uppercase letters are in a string.
Example:
 Input: "Hello World"
 Output: 2

In [22]:
def uppercase(A):
    count=0
    for i in A:
        if i.isupper():
            count+=1
    return count
uppercase("HeLLO worLD")

6

14.Write a Python function to find the second largest number in a list.
Example:
 Input: [10, 20, 15, 5]
 Output: 15

In [40]:
def sec_lar(numbers):
    numbers.sort()
    slar=numbers[-2]
    return slar    
    
l=[10, 20, 15, 5]
sec_lar(l)

15

15.Write a function to merge two lists into one.
Example:
 Input: [1, 2], [3, 4]
 Output: [1, 2, 3, 4]

In [54]:
def merge2list(numbers1,numbers2):
    return numbers1+numbers2

In [55]:
j= [1, 2]
k=[3,4]
merge2list(j,k)

[1, 2, 3, 4]

In [ ]:
16.Write a program to find common elements in two lists.
Example:
 Input: [1, 2, 3], [2, 3, 4]
 Output: [2, 3]

In [62]:
def common(numbers1,numbers2):
    a=set(numbers1)
    b=set(numbers2)
    c=a&b
    return list(c)

In [63]:
i=[1, 2, 3]
j=[2, 3, 4]
common(i,j)

[2, 3]

17.Write a function to return the square of each number in a list.
Example:
 Input: [1, 2, 3]
 Output: [1, 4, 9]

In [74]:
def sq(numbers):
    return [x**2 for x in numbers]

In [75]:
l= [1, 2, 3]
print(sq(l))

[1, 4, 9]

18.Write a Python function that returns the count of even and odd numbers in a list.
Example:
 Input: [1, 2, 3, 4]
 Output: (2, 2)

In [77]:
def counteo(numbers):
    counteven=[]
    countodd=[]
    for i in numbers:
        if i%2==0:
            counteven.append(i)
        else:
            countodd.append(i)
    return (len(counteven),len(countodd))

In [78]:
l=[1, 2, 3, 4]
counteo(l)

(2, 2)

19.Write a program to swap the first and last elements in a list.
Example:
 Input: [1, 2, 3, 4]
 Output: [4, 2, 3, 1]

In [86]:
def swape(numbers):
    numbers[0],numbers[-1]=numbers[-1],numbers[0]
    return numbers

In [87]:
l=[1, 2, 3, 4]
swape(l)

[4, 2, 3, 1]

20.Write a Python program to find the sum of elements in a list.
Example:
 Input: [1, 2, 3]
 Output: 6

In [88]:
def sume(numbers):
    return sum(numbers)

In [89]:
l=[1, 2, 3]
sume(l)

6

21.Write a function to return the longest word in a sentence.
Example:
 Input: "Python is amazing"
 Output: "amazing"

In [104]:
def longword(a):
    words=a.split()
    long=""
    for word in words:
        if len(word)>len(long):
            long=word
    print( long)

In [105]:
longword(' Python is amazing')

amazing

22.Write a program that prints the multiplication table of a number up to 10.
Example:
 Input: 5
 Output:
5 x 1 = 5
5 x 2 = 10
...
5 x 10 = 50

In [107]:
def tables(a):
    for i in range(1,11):
        f=a*i
        print(a,'*',i,'=',f)
tables(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

23.Write a function to count the number of times a specific character appears in a string.
Example:
 Input: "hello world", 'l'
 Output: 3

In [114]:
def csc(str1,str2):
    count=0
    for i in str1:
        if i == str2:
            count+=1
    return count
csc("hello world", "l")

3

In [115]:
csc('hello','l')

2

24.Write a program to check if one string is a substring of another.
Example:
 Input: "hello", "ell"
 Output: True

In [118]:
def subs(str1,str2):
    s=str1.lower()
    t=str2.lower()
    return t in s
subs("hello", "ell")

True

In [119]:
subs('mom','gun')

False

25.Write a Python program to count the number of negative numbers in a list.
Example:
 Input: [-1, 2, -3, 4]
 Output: 2

In [ ]:
def neg(numbers):
    neg=[]
    for i in numbers:
        if i<0:
        neg.append(i)
    return neg
l= [-1, 2, -3, 4]