In [ ]:
#take a comma-separated string of integers, remove duplicates, sort them in descending order, and return the mean.

In [1]:
a='1,2,3,4,5,1,1,2,2,3,4,5,3'   #comma separted integer
b=a.split(',')                  #spliting string which is separated by comma
b=set(map(int,b))               #converting a string to set of integers 
b=list(b)                       #converting a set of integers to list of integers
b.sort(reverse=True)             #sorting it in descending order
m=int(sum(b)/len(b))             #calculating mean
print(m)

3

In [3]:
def mean(numbers):
    n=numbers.split(',')
    n=set(map(int,n))
    n=list(n)
    n.sort(reverse=True)
    m=int(sum(n)/len(n))
    return m

In [4]:
numbers='1,9,9,6,3,2,1,2,5,7'
mean(numbers)

4

In [2]:
def mean():
 a = input("enter the string of integeres")
 n = list(map(int, a.split(',')))
 print(n)
 b = list(set(n))
 print(b)
 b.sort(reverse=True)
 print(b)
 m = sum(b) / len(b) 
 return m

In [3]:
mean()

enter the string of integeres 1,2,6,8,9,4

[1, 2, 6, 8, 9, 4]
[1, 2, 4, 6, 8, 9]
[9, 8, 6, 4, 2, 1]

5.0

In [ ]:
#Write a function calculate_discount(price, discount=10) that returns the final price after applying a discount. actual amt 100
#after discount 90==>o/p

In [4]:
def calculate_discount(price,discount=10):
    dis_price=price*0.9
    return dis_price
calculate_discount(100)

90.0

In [6]:
calculate_discount(899)

809.1

In [ ]:
#Write a recursive function factorial(n) that returns the factorial of a number.

In [13]:
def factorial(n):
    if n==0 or n==1:          #to avoid infinite loop
        return 1     #n!=0     
    else:
        return n*factorial(n-1)   #recursive function==> a function that calls itself within its own definition
factorial(5)

120

In [14]:
factorial(1)

1

In [ ]:
#Create a function make_multiplier(n) that returns a new function which multiplies its input by n.(nested function)

In [17]:
def make_multiplier(n):      #outer function
    def multiplier(i):        #inner function
        return i*n
    return multiplier         #returns inner function to outer function
m=make_multiplier(5)          #calling outer function with value n
r=m(4)                         #calling inner function with value 4 with outer function
r

20

In [ ]:
#Given a list of numbers, use filter() with a lambda function to extract only the even numbers.
#Also, use map() to square

In [18]:
l=[1,2,3,4,5,6,7,8,9,10]
evennumber=list(filter(lambda i:  i%2==0,l))
print(evennumber)
square=list(map(lambda i: i**2,evennumber))
print(square)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

In [ ]:
List Comprehensions - Transform loops into concise one-liners for filtering and mapping data

In [17]:
for i in range(6):
    for j in range(i):
        print(j, end="")
    print()

0
01
012
0123
01234

In [10]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [18]:
for i in range(3):
    for j in range(i):
        print(j)

0
0
1

In [19]:
for i in range(6):
    for j in range(i):
        print(5,end='')
    print()

5
55
555
5555
55555

In [27]:
for i in range(5):
    for j in range(5):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

In [28]:
for i in range(5):
    for i in range(4):
        print(5, end='')
    print()

5555
5555
5555
5555
5555

In [35]:
a=[1,2,3]
b=['a','b','c']
for i in a:
    for j in b:
        print(f"{i}{ j}",end=' ')
    print()

1a 1b 1c
2a 2b 2c
3a 3b 3c