In [1]:
#Implement a program to insert an element at a specific position in a list.
list=[1,2,3,4,5]
list.insert(2,8)
list

[1, 2, 8, 3, 4, 5]

In [2]:
#Find the maximum and minimum elements in a list without using max() or min().
list=[1,2,55,33,8,55]
list.sort()
set(list)
print(f'minimum:{list[0]}')
print(f'maximum:{list[-1]}')

minimum:1
maximum:55

In [3]:
#Remove all negative numbers from a list.
l=[1,2,-5,-66,-44,3,6,99]
pos=[]
for i in l:
    if i>0:
        pos.append(i)
print(pos)

[1, 2, 3, 6, 99]

In [4]:
#Reverse a list using slicing and a loop.
list=[1,9,5,4,3]
list[::-1] #using slicing

[3, 4, 5, 9, 1]

In [5]:
list=[1,9,5,4,3]
r=[]
for i in range(len(list)-1,-1,-1):  #using forloop
    r.append(list[i])
print(r)

[3, 4, 5, 9, 1]

In [6]:
#Merge two sorted lists into a single sorted list.
l1=[1,9,99,4,66,3,9]
l2=[55,66,99,0,2,4]
l1.sort()
l2.sort()
l1.extend(l2)
l1.sort()
print(l1)

[0, 1, 2, 3, 4, 4, 9, 9, 55, 66, 66, 99, 99]

In [7]:
#Convert a list into a tuple and vice versa.
l=[1,2,3,4,5]
t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [9]:
del list
t1 = (1, 2, 5, 6, 7)
l1 = list(t1)
print(l1)

[1, 2, 5, 6, 7]

In [11]:
#Find the common elements in two sets.
set1=set(map(int,input().split()))
set2=set(map(int,input().split()))
set1.intersection(set2)

 1 2 3 4 5
 3 4 6 7

{3, 4}

In [ ]:
#Write a program to remove duplicate elements from a list using a set.
l=list(map(int,input().split()))
l=set(l)
l=list(l)
print(l)

In [ ]:
#Check if two sets are disjoint.
s1=set(map(int,input().split()))
s2=set(map(int,input().split()))
if s1&s2:
    print('not disjoint')
else:
    print('sets are disjoint')

In [ ]:
#Create a set from user input and check membership of an element.
s=set(map(int,input().split()))
print(4 in s)
print(5 not in s)

In [ ]:
# Count the frequency of each character in a string using a dictionary.
s='data science'
d={}

for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

In [ ]:
# Create a dictionary from two lists: one of keys and one of values.
l=['a','b','c','d']
m=[13,9,4,25]
d=dict(zip(l,m))
d

In [ ]:
#Write a program to sort a dictionary by its values.
d=dict(sorted(d.items(), key=lambda item: item[1]))
d

In [ ]:
# Merge two dictionaries into one.
d1 = {'a': 13, 'b': 27}
d2 = {'c': 36, 'd': 34}
a=d1|d2
a

In [ ]:
# Find the key with the highest value in a dictionary.
max_key = max(a, key=a.get)
max_key