In [130]:
#create a list which contain all datatypes
l=[5,3.0,True,'hello',5+7j]
l

[5, 3.0, True, 'hello', (5+7j)]

In [131]:
# tuple contains only even numbers
t=(2,4,6,8,10)
t

(2, 4, 6, 8, 10)

In [16]:
#dictionary of a person with 5 key value pairs
d={'name':'devi','age':27,'location':'chennai','phone':'1234567890','mail':'devi@gmail.com'}
d

{'name': 'devi',
 'age': 27,
 'location': 'chennai',
 'phone': '1234567890',
 'mail': 'devi@gmail.com'}

In [5]:
#set containing repeated value 
s={1,2,3,6,1,2,3,6,6,1,9}
s

{1, 2, 3, 6, 9}

In [17]:
#1 monday
#2 tues
#7 sun elif
x=int(input("enter a number(1-7)"))
if x==1:
    print('monday')
elif x==2:
    print('tuesday')
elif x==3:
    print('wednesday')
elif x==4:
    print('thursday')
elif x==5:
    print('friday')
elif x==6:
    print('saturday')
elif x==7:
    print('sunday')
else:
    print('enter number from 1-7')

enter a number(1-7) 5

friday

In [14]:
#print each char of a string using for loop
a=input('enter a string:')
for i in a:
    print(i)

enter a string: good

g
o
o
d

In [ ]:
#take a comma-separated string of integers, remove duplicates, sort them in descending order, and return the median.

In [19]:
a='1,2,3,4,1,2,4'
b=a.split(',')

In [20]:
b

['1', '2', '3', '4', '1', '2', '4']

In [21]:
b=set(b)
b

{'1', '2', '3', '4'}

In [22]:
b=list(b)
b

['4', '3', '2', '1']

In [23]:
type(b)

list

In [24]:
b.sort()

In [25]:
b

['1', '2', '3', '4']

In [26]:
b.reverse()

In [12]:
b

['4', '3', '2', '1']

In [27]:
c=len(b)//2
c

2

In [28]:
if c%2==0:
    mid1=int(b[c-1])
    mid2=int(b[c])
    d=float((mid1+mid2)/2)
    print(d)
else:
    print(c)

2.5

In [55]:
a='1,2,3,4,1,2,4,5'
b=a.split(',')
b=set(b)
b=list(b)
b.sort()
b.reverse()
c=len(b)//2
if c%2==0:
    mid1=int(b[c-1])
    mid2=int(b[c])
    d=int((mid1+mid2)/2)
    print(d)
else:
    print(c)

3

In [29]:
#Step 1: Take input
input_str = input("Enter comma-separated integers: ")

#Step 2: Split the string and convert to integers
numbers = input_str.split(",")
numbers = [int(num) for num in numbers]

#Step 3: Remove duplicates using set, then convert back to list
numbers = list(set(numbers))

#Step 4: Sort the list in descending order
numbers.sort(reverse=True)

#Step 5: Find the median
length = len(numbers)
if length % 2 == 1:
 median = numbers[length // 2]
else:
 median = (numbers[length // 2 - 1] + numbers[length // 2]) / 2

#Step 6: Print the result
print("Sorted list (descending):", numbers)
print("Median:", median)

Enter comma-separated integers:  1,2,3,4,5,5,6,4,3,2

Sorted list (descending): [6, 5, 4, 3, 2, 1]
Median: 3.5

In [32]:
#Square each number in a list
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [85]:
a=input("enter comma separted integers")
b=a.split(',')
b=set(b)
b=list(b)
b.sort()
b.reverse()
c=len(b)//2
if c%2==0:
    mid1=int(b[c-1])
    mid2=int(b[c])
    d=int((mid1+mid2)/2)
    print(d)
else:
    print(c)

enter comma separted integers 6,9,0,8,5,2,2,1,6,8,0,4,7

5

3.Take 3 integers and print the largest among them only if it is even and not divisible by 4. Otherwise, print
"Not Eligible".

In [34]:
a=int(input('num1'))
b=int(input('num2'))
c=int(input('num3'))
if a>b and a>c and a%2==0 and a%4!=0:
    print(a)
elif b>a and b>c and b%2==0 and b%4!=0:
    print(b)
elif c>a and c>b and c%2==0 and c%4!=0:
    print(c)
else:
    print('not eligible')

num1 10
num2 15
num3 8

not eligible

In [52]:
a=int(input('num1'))
b=int(input('num2'))
c=int(input('num3'))
l=[a,b,c]

num1 8
num2 16
num3 10

In [53]:
for i in l:
    if i%2==0 and i%4!=0:
        print(i)
        break
    else:
        print('not eligible')

not eligible
not eligible
10

In [46]:
#Step 1: Take 3 integer inputs
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

#Step 2: Find the largest
largest = max(a, b, c)

#Step 3: Check the condition
if largest % 2 == 0 and largest % 4 != 0:
 print("Largest eligible number:", largest)
else:
 print("Not Eligible")

Enter first number:  10
Enter second number:  16
Enter third number:  8

Not Eligible

In [56]:
#Take input as space-separated or comma-separated values
input_str = input("Enter 3 numbers (comma or space separated): ")

#Split and convert to integers
if ',' in input_str:
 nums = [int(x) for x in input_str.split(',')]
else:
 nums = [int(x) for x in input_str.split()]

#Use for loop to find the largest
largest = nums[0]
for num in nums[1:]:
    if num > largest:
        largest = num

#Check condition
if largest % 2 == 0 and largest % 4 != 0:
 print("Largest eligible number:", largest)
else:
 print("Not Eligible")

Enter 3 numbers (comma or space separated):  1,2,10

Largest eligible number: 10

In [64]:
#Take input
input_str = input("Enter 3 numbers (comma or space separated): ")

#Convert to list of integers
if ',' in input_str:
     nums = [int(x) for x in input_str.split(',')]
else:
     nums = [int(x) for x in input_str.split()]

#Filter only even numbers not divisible by 4
eligible = []
for num in nums:
     if num % 2 == 0 and num % 4 != 0:
         eligible.append(num)

#Check and print result
if eligible:
     largest = eligible[0]
     for num in eligible[1:]:
          if num > largest:
            largest = num
            print("Largest eligible number:", largest)
          else:
            print("Not Eligible")

Enter 3 numbers (comma or space separated):  18,12,10

Not Eligible

4.From a given string, count how many alphabets appear immediately after a digit."a3b4c5d"

In [65]:
a=input('enter alphanumeric string')

count=0
for i in range(1,len(a)):
    if a[i].isalpha() and a[i-1].isdigit():
        count+=1
print(count)

enter alphanumeric string A3B3C5D

3

5.Create two lists: one with names and one with corresponding ages. Store all names where the age is strictly
greater than 18 in a separate list. Ensure both lists have equal length.

In [66]:
names=['abc','def','ghi']
ages=[19,16,20]
name=[]
age=[]
for i in range(len(names)) :
    if ages[i]>18:
        name.append(names[i])
        age.append(ages[i])
print(name)
print(age)

['abc', 'ghi']
[19, 20]

In [83]:
#From a nested dictionary of employees, count how many employees have a salary greater than 50,000.
employees={
    'emp1':
    {'name'   :'devi',
     'salary' : 100000
    },
    'emp2':
    {'name'   :'kishore',
     'salary' : 200000
    },
    'emp3':
    {'name'   :'kumar',
     'salary' : 20000
    }
}
count=0
for emp in employees:
    if employees[emp]['salary']>50000:
        count+=1
print(count)

2

In [1]:

def twoSum(nums,target):
    for i in range(len(nums)):
        for j in range(i+1,len(nums)):
            if nums[i]+nums[j]==target:
                return(i,j)
                return[]
nums=[2,7,11,15]
target=9
twoSum(nums,target)

(0, 1)

In [2]:
len(nums)

4

In [14]:
def addTwoNumbers(l1, l2):
        a=l1[::-1]
        b=l2[::-1]
        number1 = int("".join(map(str, a)))
        number2 = int("".join(map(str, b)))
        num=number1 + number2
        return list(map(int, str(num)))
l1 = [2,4,3]
l2 = [5,6,4]
addTwoNumbers(l1,l2)

[8, 0, 7]

In [ ]:
#take a comma-separated string of integers, remove duplicates, sort them in descending order, and return the mean.

In [ ]:
#Write a function calculate_discount(price, discount=10) that returns the final price after applying a discount. actual amt 100
#after discount 90==>o/p

In [ ]:
#Write a recursive function factorial(n) that returns the factorial of a number.

In [ ]:
#Create a function make_multiplier(n) that returns a new function which multiplies its input by n.(nested function)

In [ ]:
#Given a list of numbers, use filter() with a lambda function to extract only the even numbers.
#Also, use map() to square them.