1.Write a Python program to reverse the words in a given sentence.
Input: "Python is fun"
Output: "fun is Python"

In [23]:
sentence="Python is fun"
s= ' '.join(sentence.split(' ')[::-1])
s

'fun is Python'

In [37]:
Sentence=input("enter a sentence")
S=' '.join(Sentence.split(' ')[::-1])
S

enter a sentence hi how are you

'you are how hi'

2.Write a program to calculate the sum of digits in a given number.
Example:
 Input: 123
 Output: 6

In [162]:
a=1,2,3
b=sum(a)
b

6

3. Write a Python function to count the number of vowels in a string.
Example:
 Input: "hello world"
 Output: 3

In [36]:
string=("hello world")
count=0
vowels='aeiou'
for i in string:
    if i in vowels:
        count+=1  
print(count)

3

4. Write a program to check whether a string is a palindrome.
Example:
 Input: "madam"
 Output: True

In [40]:
WORD=input("enter a word:")
if WORD[::-1]== WORD:
     print("it is a palindrome")
else:
        print ("it is not a palindrome")

enter a word: mam

it is a palindrome

In [41]:
W=input("enter a word:")
if W[::-1]== W:
    print(bool(W))

enter a word: mam

True

5. Write a function to find the largest number in a list without using max() function.
Example:
 Input: [5, 12, 7, 9]
 Output: 12

In [44]:
n= [5, 12, 7, 9]
n.sort()
n[-1]

12

6. Write a Python program to remove duplicate values from a list.
Example:
 Input: [1, 2, 2, 3, 1]
 Output: [1, 2, 3]

In [65]:
l= [1, 2, 2, 3, 1]
l1=set(l)
list(l1)

[1, 2, 3]

7.Write a program to find the factorial of a given number.
Example:
 Input: 5
 Output: 120

In [66]:
number= 5
n=5*4*3*2*1
n

120

In [69]:
import math
N=int(input("enter a number"))
f=math.factorial(N)
f

enter a number 5

120

In [71]:
num=int(input("enter a number"))
fact=1
for i in range(1,num+1):
    fact*=i
print(fact)

enter a number 6

720

8.Write a Python program to return all even numbers in a list.
Example:
 Input: [1, 4, 5, 6]
 Output: [4, 6]

In [77]:
b= [1, 4, 5, 6]
for i in b:
    if i%2==0:
       print(i)

4
6

Write a function to count how many times each character appears in a string.
Example:
 Input: "banana"
 Output: {'b': 1, 'a': 3, 'n': 2}

In [84]:
s1="banana"
count={}
for char in s1:
    if char in count:
        count[char]+=1
    else:
        count[char]=1

print(count)

{'b': 1, 'a': 3, 'n': 2}

10.Write a Python program to count the number of words in a sentence.
Example:
 Input: "Python is easy to learn"
 Output: 5

In [91]:
sen="Python is easy to learn"
s2=sen.split()
len(s2)

5

11.Write a program to check if two strings are anagrams.
Example:
 Input: "listen", "silent"
 Output: True

In [109]:
a=list(input('enter a word'))
b=list(input('enter a word'))
a.sort()==b.sort()

enter a word silent
enter a word listen

True

12.Write a Python function to convert Celsius temperature to Fahrenheit.
Example:
 Input: 0
 Output: 32.0

In [111]:
C=float(input('enter a celcius'))
F = (C * 9/5) + 32
F

enter a celcius 0

32.0

13.Write a program to count how many uppercase letters are in a string.
Example:
 Input: "Hello World"
 Output: 2

In [117]:
s= input ("enter a sentence")
count=0
for i in s:
    if i.isupper():
        count+=1
print(count)

enter a sentence HeLLO worLD

6

14.Write a Python function to find the second largest number in a list.
Example:
 Input: [10, 20, 15, 5]
 Output: 15

In [120]:
n= [10, 20, 15, 5]
n.sort()
n[-2]

15

15.Write a function to merge two lists into one.
Example:
 Input: [1, 2], [3, 4]
 Output: [1, 2, 3, 4]

In [122]:
l1,l2=[1, 2], [3, 4]
l1.extend(l2)
l1

[1, 2, 3, 4]

16.Write a program to find common elements in two lists.
Example:
 Input: [1, 2, 3], [2, 3, 4]
 Output: [2, 3]

In [127]:
l1, l2=[1, 2, 3], [2, 3, 4]
l1=set(l1)
l2=set(l2)
l3=list(l1.intersection(l2))
l3

[2, 3]

17.Write a function to return the square of each number in a list.
Example:
 Input: [1, 2, 3]
 Output: [1, 4, 9]

In [130]:
l= [1, 2, 3]
l1=[i**2 for i in l]
l1

[1, 4, 9]

18.Write a Python function that returns the count of even and odd numbers in a list.
Example:
 Input: [1, 2, 3, 4]
 Output: (2, 2)

In [137]:
n = [1, 2, 3, 4]
odd=[]
even=[]
for i in n:
      if i%2==0:
          even.append(i)
      else:
          odd.append(i)
print(len(odd),len(even))

2 2

19.Write a program to swap the first and last elements in a list.
Example:
 Input: [1, 2, 3, 4]
 Output: [4, 2, 3, 1]

In [138]:
l= [1, 2, 3, 4]
l2=[l[-1],l[1],l[2],l[0]]
l2

[4, 2, 3, 1]

20.Write a Python program to find the sum of elements in a list.
Example:
 Input: [1, 2, 3]
 Output: 6

In [219]:
n=[1,2,3,4]
for i in n:
    i+=1
print(sum(n))

10

21.Write a function to return the longest word in a sentence.
Example:
 Input: "Python is amazing"
 Output: "amazing"

In [188]:
s=input('enter a sentence')
words=s.split()
words

enter a sentence Python is amazing

['Python', 'is', 'amazing']

In [189]:
type(words)

list

In [190]:
for word in words:
    print(word)

Python
is
amazing

In [191]:
for word in words:
    print(len(word))

6
2
7

In [193]:
long=''
for word in words:
    if len(word)>len(long):
        long=word
print(long)

amazing

In [194]:
s=input('enter a sentence')
words=s.split()
long=''
for word in words:
    if len(word)>len(long):
        long=word
print(long)

enter a sentence hello everyone! welcome to programming world

programming

22.Write a program that prints the multiplication table of a number up to 10.
Example:
 Input: 5
 Output:
5 x 1 = 5
5 x 2 = 10
...
5 x 10 = 50

In [220]:
v=int(input("enter a number"))
for i in range(11):
    f=v*i
    print(f)

enter a number 2

0
2
4
6
8
10
12
14
16
18
20

23.Write a function to count the number of times a specific character appears in a string.
Example:
 Input: "hello world", 'l'
 Output: 3

In [211]:
sentence=input("enter a sentence")
r=input("enter a character u want to count:")
count=0
for i in sentence:
    if i == r:
        count+=1
print(count)

enter a sentence hello world
enter a character u want to count: l

3

24.Write a program to check if one string is a substring of another.
Example:
 Input: "hello", "ell"
 Output: True

In [218]:
g=input('enter a string')
s=input('enter a string to check')
g1=g.lower()
s1=s.lower()
s1 in g1

enter a string hello
enter a string to check abc

False

25.Write a Python program to count the number of negative numbers in a list.
Example:
 Input: [-1, 2, -3, 4]
 Output: 2

In [225]:
l=int(input("enter number)
neg=[]
for i in l:
    if i<0:
        neg.append(i)
print(len(neg))

2